h1{
  text-align: center;
  font-family: "Lucida Console";
}

body{
  background-color: lightblue;
}
.board {
  height: 500;
  width: 500;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: lightblue;
  border-top-width: 0.5;
}

.cell {
  height: 20;
  width: 20;
  background: gray;
  display: inline-block;
  border-style: solid;
  border-color: lightblue;
  border-width: 2;
  box-sizing: border-box;
}

.snake {
  background: green;
}

.apple {
  background: red;
}

.head{
  background: darkgreen;
}

.score{
  text-align: center;
  font-size: 250%;
}

